@using BBS.Domain.Entities;
@model BBS.Domain.Entities.Post

@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<h2>PostDetail</h2>

<div class="container">
    <div>
        <h5 class="center-align">
            @Model.Title
        </h5>
    </div>
    <div class="row">
        <div class="col s4">
            板块 @Model.Board.Name
        </div>
        <div class="col s4">
            发布人：@Model.User.Name
        </div>
        <div class="col s4">
            发布时间：@Model.PublishTime
        </div>
    </div>
    <div class="divider"></div>
    

    <div class="row">
        <div id="postcontent" class="col s12" >
            <!-- http://stackoverflow.com/questions/5029264/display-encoded-html-with-razor -->
            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
        </div>
    </div>
</div>
<div class="container">
    <div class="divider"></div>
    <div class="left-align"><h5>评论区</h5></div>
    <div class="divider"></div>
    @foreach (Reply reply in Model.Replies)
    {
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="@Url.Action("GetHeadPortrait", "User", new { id = reply.UserID })" alt="" class="circle " />
                <span class="title">@reply.User.Name</span>
                <p>
                    发布时间：@reply.PublishTime
                </p>
            </li>
        </ul>
        <div class="row">
            <div class="col s12">
                <p>@Html.Raw(HttpUtility.HtmlDecode(reply.Content))</p>
            </div>
        </div>
        <div class="divider"></div>
    }
    <div class="divider"></div>
    <div class="left-align"><h5>发表评论：</h5></div>
    <div class="row">
        <form name="reply" class="col s12" method="post" action="@Url.Action("PostReply", "Post")">
            @{
                User sessionUser = (User)Session["User"];
                if (sessionUser != null)
                {
                    <input name="UserID" type="hidden" value="@sessionUser.ID" />
                }
            }
            <input name="PostID" type="hidden" value="@Model.ID"/>
            <input name="PublishTime" type="hidden" value="@DateTime.Now"/>
            <div class="row">
                <div class="input-field col s12">
<!--                    <i class="mdi-editor-mode-comment prefix"></i>
                    <textarea name="Content" class="materialize-textarea" length="120"></textarea>
                    <label for="Content">Reply</label>  -->
                    <textarea name="Content"></textarea>
                    <script type="text/javascript">
                        window.onload = function () {
                            var editor = CKEDITOR.replace('Content',
                                {
                                    filebrowserBrowseUrl: '/Content/framework/ckfinder/ckfinder.html',
                                    filebrowserImageBrowseUrl: '/Content/framework/ckfinder/ckfinder.html?type=Images',
                                    filebrowserFlashBrowseUrl: '/Content/framework/ckfinder/ckfinder.html?type=Flash',
                                    filebrowserUploadUrl: '/Content/framework/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Files',
                                    filebrowserImageUploadUrl: '/Content/framework/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Images',
                                    filebrowserFlashUploadUrl: '/Content/framework/ckfinder/core/connector/asp/connector.asp?command=QuickUpload&type=Flash',
                                    htmlEncodeOutput: true
                                });
                            CKFinder.setupCKEditor(editor, '/Content/framework/ckfinder/');
                        };
                    </script>

                </div>
            </div>
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Reply
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </form>
    </div>
</div>